In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20

# Loading data

Pandas has several function for loading data, two of the most commonly used are `read_excel` and `read_csv` that respectively read data from excel files or data from a plain text file. 

Use `pd.read_excel` to read the sheet *Cellscreens* from `datafiles/Cellscreens.xls`

In [2]:
df = pd.read_excel('../exercises/datafiles/Cellscreens.xls')

Use `pd.read_csv` to read the data from `datafiles/Cellscreens.csv` and `datafiles/Cellscreens.tsv`. Can you load both files correctly? If not, compare the two files (note that Jupyter can open text files) and look through the documentation of `pd.read_csv` to find the correction options.
    *

In [3]:
pd_csv = pd.read_csv('../exercises/datafiles/Cellscreens.csv')
pd_tsv = pd.read_csv('../exercises/datafiles/Cellscreens.tsv')
display(pd_csv)
display(pd_tsv)

   Compound_name  Disease   Pain_rating   Concentration
0       Morphine     BRCA             5              10
1       Morphine     BRCA             5              15
2       Morphine     BRCA             4              20
3       Morphine     BRCA             4              25
4       Morphine     BRCA             4              30
5       Morphine     BRCA             3              35
6        Codeine     BRCA             5              10
7        Codeine     BRCA             5              15
8        Codeine     BRCA             5              20
9        Codeine     BRCA             5              25
..           ...      ...           ...             ...
62     Oxycodone      GBM             9              20
63     Oxycodone      GBM             8              25
64     Oxycodone      GBM             8              30
65     Oxycodone      GBM             7              35
66    Meperidine      GBM             6              10
67    Meperidine      GBM             6              15
68    Meperidine      GBM             5              20
69    Meperidine      GBM             5              25
70    Meperidine      GBM             4              30
71    Meperidine      GBM             4              35

[72 rows x 4 columns]

   Compound_name\tDisease\tPain_rating\tConcentration
0                               Morphine\tBRCA\t5\t10
1                               Morphine\tBRCA\t5\t15
2                               Morphine\tBRCA\t4\t20
3                               Morphine\tBRCA\t4\t25
4                               Morphine\tBRCA\t4\t30
5                               Morphine\tBRCA\t3\t35
6                                Codeine\tBRCA\t5\t10
7                                Codeine\tBRCA\t5\t15
8                                Codeine\tBRCA\t5\t20
9                                Codeine\tBRCA\t5\t25
..                                                ...
62                              Oxycodone\tGBM\t9\t20
63                              Oxycodone\tGBM\t8\t25
64                              Oxycodone\tGBM\t8\t30
65                              Oxycodone\tGBM\t7\t35
66                             Meperidine\tGBM\t6\t10
67                             Meperidine\tGBM\t6\t15
68                             Meperidine\tGBM\t5\t20
69                             Meperidine\tGBM\t5\t25
70                             Meperidine\tGBM\t4\t30
71                             Meperidine\tGBM\t4\t35

[72 rows x 1 columns]

The columns in the `.tsv` file are separated by tabs (`\t`) while in `.csv` comma's are used. By default, `pd.read_csv` expects the separator, also called the *delimiter*, to be a comma, but this can be changed with the *delimiter* argument:

In [4]:
pd_csv = pd.read_csv('../exercises/datafiles/Cellscreens.csv')
pd_tsv = pd.read_csv('../exercises/datafiles/Cellscreens.tsv',delimiter='\t')
display(pd_csv)
display(pd_tsv)

   Compound_name  Disease   Pain_rating   Concentration
0       Morphine     BRCA             5              10
1       Morphine     BRCA             5              15
2       Morphine     BRCA             4              20
3       Morphine     BRCA             4              25
4       Morphine     BRCA             4              30
5       Morphine     BRCA             3              35
6        Codeine     BRCA             5              10
7        Codeine     BRCA             5              15
8        Codeine     BRCA             5              20
9        Codeine     BRCA             5              25
..           ...      ...           ...             ...
62     Oxycodone      GBM             9              20
63     Oxycodone      GBM             8              25
64     Oxycodone      GBM             8              30
65     Oxycodone      GBM             7              35
66    Meperidine      GBM             6              10
67    Meperidine      GBM             6              15
68    Meperidine      GBM             5              20
69    Meperidine      GBM             5              25
70    Meperidine      GBM             4              30
71    Meperidine      GBM             4              35

[72 rows x 4 columns]

   Compound_name Disease  Pain_rating  Concentration
0       Morphine    BRCA            5             10
1       Morphine    BRCA            5             15
2       Morphine    BRCA            4             20
3       Morphine    BRCA            4             25
4       Morphine    BRCA            4             30
5       Morphine    BRCA            3             35
6        Codeine    BRCA            5             10
7        Codeine    BRCA            5             15
8        Codeine    BRCA            5             20
9        Codeine    BRCA            5             25
..           ...     ...          ...            ...
62     Oxycodone     GBM            9             20
63     Oxycodone     GBM            8             25
64     Oxycodone     GBM            8             30
65     Oxycodone     GBM            7             35
66    Meperidine     GBM            6             10
67    Meperidine     GBM            6             15
68    Meperidine     GBM            5             20
69    Meperidine     GBM            5             25
70    Meperidine     GBM            4             30
71    Meperidine     GBM            4             35

[72 rows x 4 columns]

# Writing data 

A DataFrame can be exported with the function `DataFrame.to_csv()`, where `DataFrame` is replaced with the name of the DataFrame you want to export. 

Use the documentation to save one of the DataFrames from the previous exercise to a comma separated text names `datafiles/out.txt`.

In [5]:
df.to_csv('../exercises/datafiles/out.txt')

Have a look at the file, do you notice the clutter? By default, Pandas adds the row numbers, which just messes up the output. Use the documentation to create a similar file without row numbers:

In [6]:
df.to_csv('../exercises/datafiles/out_noindex.txt',index=False)

Export the same data using *tab* as a delimiter.

# Data curation

Sometimes you will have to manually curate your dataframe for things that did not load in correctly. For this we will first mess up the existing data frame, and then we make it nice again. But, before we do anything, we create a copy so that we do not really mess up the data:

In [7]:
ndf = df.copy()

Next, we generate some fake data of the same length as our dataframe:

In [8]:
fake = np.zeros(len(ndf))
fake[10] = np.nan
fake[20] = -1
fake[30] = np.nan

A new column can be added to the data frame as follows: `ndf[name] = value`. Where `value` is either a single value  which is then assigned to each row, or a list or numpy array with the same length as the dataframe. Add a column 'Fake data' to `ndf` and set the values to `fake`:

In [9]:
ndf['Fake data'] = fake

In the fake data there are some missing value, which are set to `np.nan` (nan = not a number). With `ndf.fillna(replace)` you can change these values; set them to 0:

In [10]:
ndf.fillna(0)

   Compound_name  Disease   Pain_rating   Concentration  Fake data
0       Morphine     BRCA             5              10        0.0
1       Morphine     BRCA             5              15        0.0
2       Morphine     BRCA             4              20        0.0
3       Morphine     BRCA             4              25        0.0
4       Morphine     BRCA             4              30        0.0
5       Morphine     BRCA             3              35        0.0
6        Codeine     BRCA             5              10        0.0
7        Codeine     BRCA             5              15        0.0
8        Codeine     BRCA             5              20        0.0
9        Codeine     BRCA             5              25        0.0
..           ...      ...           ...             ...        ...
62     Oxycodone      GBM             9              20        0.0
63     Oxycodone      GBM             8              25        0.0
64     Oxycodone      GBM             8              30        0.0
65     Oxycodone      GBM             7              35        0.0
66    Meperidine      GBM             6              10        0.0
67    Meperidine      GBM             6              15        0.0
68    Meperidine      GBM             5              20        0.0
69    Meperidine      GBM             5              25        0.0
70    Meperidine      GBM             4              30        0.0
71    Meperidine      GBM             4              35        0.0

[72 rows x 5 columns]

Running `fillna` directly on `ndf` returns a new dataframe where all the *not a number* entries are replace, but it does not assign that new dataframe to ndf, therefore we must assign it (`ndf = ...`); do this:

In [11]:
ndf = ndf.fillna(0)

Fake data is not a very smart name. We can rename a column name with `ndf.rename(columns={old_name : new_name})`. Use this to make *fake data*, *real data*. Print the columns (`ndf.columns`) of `ndf` to check whether it worked (note that `rename` works similar to `fillna`)

In [12]:
ndf = ndf.rename(columns={'Fake data':'Real data'})
print(ndf.columns)

Index(['Compound_name', ' Disease', ' Pain_rating', ' Concentration',
       'Real data'],
      dtype='object')

Finally, let's just remove this column, which can be done with the `ndf.drop([list of column names],axis=1)`. Use this to remove the *real data* and use `ndf.columns` to test if it worked as expected.

In [13]:
ndf.drop(['Real data'],axis=1)
print(ndf.columns)

Index(['Compound_name', ' Disease', ' Pain_rating', ' Concentration',
       'Real data'],
      dtype='object')

# Data selection

In [14]:
df = pd.read_csv('../exercises/datafiles/Cellscreens.tsv',delimiter='\t')

You can display a DataFrame with the `display` function.

In [15]:
display(df)

   Compound_name Disease  Pain_rating  Concentration
0       Morphine    BRCA            5             10
1       Morphine    BRCA            5             15
2       Morphine    BRCA            4             20
3       Morphine    BRCA            4             25
4       Morphine    BRCA            4             30
5       Morphine    BRCA            3             35
6        Codeine    BRCA            5             10
7        Codeine    BRCA            5             15
8        Codeine    BRCA            5             20
9        Codeine    BRCA            5             25
..           ...     ...          ...            ...
62     Oxycodone     GBM            9             20
63     Oxycodone     GBM            8             25
64     Oxycodone     GBM            8             30
65     Oxycodone     GBM            7             35
66    Meperidine     GBM            6             10
67    Meperidine     GBM            6             15
68    Meperidine     GBM            5             20
69    Meperidine     GBM            5             25
70    Meperidine     GBM            4             30
71    Meperidine     GBM            4             35

[72 rows x 4 columns]

## Columns

However, you may not want to see, and use, all data. There are several ways to select data. First of all, you can select columns. For this, it can be practical to have a list of all columns:

In [16]:
df.columns

Index(['Compound_name', 'Disease', 'Pain_rating', 'Concentration'], dtype='object')

You can access a column with:

In [17]:
df['Compound_name']

0       Morphine
1       Morphine
2       Morphine
3       Morphine
4       Morphine
5       Morphine
6        Codeine
7        Codeine
8        Codeine
9        Codeine
         ...
62     Oxycodone
63     Oxycodone
64     Oxycodone
65     Oxycodone
66    Meperidine
67    Meperidine
68    Meperidine
69    Meperidine
70    Meperidine
71    Meperidine
Name: Compound_name, Length: 72, dtype: object

Print the contents of the 2nd column ('Disease') without explicitly using the column name:

In [18]:
df[df.columns[1]]

0     BRCA
1     BRCA
2     BRCA
3     BRCA
4     BRCA
5     BRCA
6     BRCA
7     BRCA
8     BRCA
9     BRCA
      ...
62     GBM
63     GBM
64     GBM
65     GBM
66     GBM
67     GBM
68     GBM
69     GBM
70     GBM
71     GBM
Name: Disease, Length: 72, dtype: object

In the example above we only see two values: BRCA and GBM. Using `df[column].unique()`, we can print all unique values in a column. Use this function to see all unique values in the Disease column.

In [19]:
df[df.columns[1]].unique()

array(['BRCA', 'GBM'], dtype=object)

Find out how many unique values each column has. Remember that you can get the length of a list with `len(list)`

In [20]:
print(len(df[df.columns[0]].unique()))
print(len(df[df.columns[1]].unique()))
print(len(df[df.columns[2]].unique()))
print(len(df[df.columns[3]].unique()))

6
2
10
6

In [21]:
for i in range(len(df.columns)):
    print(df.columns[i],len(df[df.columns[i]].unique()))

Compound_name 6
Disease 2
Pain_rating 10
Concentration 6

In [22]:
for c in df.columns:
    print(c,len(df[c].unique()))

Compound_name 6
Disease 2
Pain_rating 10
Concentration 6

## Select rows based on values

You can select rows based on the values of certain columns:

In [23]:
df[df['Disease']=='BRCA']

   Compound_name Disease  Pain_rating  Concentration
0       Morphine    BRCA            5             10
1       Morphine    BRCA            5             15
2       Morphine    BRCA            4             20
3       Morphine    BRCA            4             25
4       Morphine    BRCA            4             30
5       Morphine    BRCA            3             35
6        Codeine    BRCA            5             10
7        Codeine    BRCA            5             15
8        Codeine    BRCA            5             20
9        Codeine    BRCA            5             25
..           ...     ...          ...            ...
26     Oxycodone    BRCA            7             20
27     Oxycodone    BRCA            6             25
28     Oxycodone    BRCA            6             30
29     Oxycodone    BRCA            6             35
30    Meperidine    BRCA           10             10
31    Meperidine    BRCA            9             15
32    Meperidine    BRCA            8             20
33    Meperidine    BRCA            7             25
34    Meperidine    BRCA            6             30
35    Meperidine    BRCA            5             35

[36 rows x 4 columns]

You can combine multiple conditions, e.g.:
* and: `df[(df['x']=='y')&(df['y']=='x')]`
* or: `df[(df['x']=='y')|(df['y']=='x')]`

Select the rows for the following conditions:
* Patients who received Tramadol
* Patients with BRCA who received Tramadol
* Patients with GBM who recieved Codein or Fentanyl
* Patients with a pain rating larger than 6
* Patients with a pain rating larger than 6 that received the maximum painkiller dose

In [24]:
display(df[df['Compound_name']=='Tramadol'])
display(df[(df['Disease']=='BRCA')&(df['Compound_name']=='Tramadol')])
display(df[(df['Disease']=='GBM')&((df['Compound_name']=='Tramadol')|(df['Compound_name']=='Fentanyl'))])
display(df[df['Pain_rating']>6])
display(df[(df['Pain_rating']>6)&(df['Concentration']==df['Concentration'].max())])

   Compound_name Disease  Pain_rating  Concentration
18      Tramadol    BRCA            8             10
19      Tramadol    BRCA            8             15
20      Tramadol    BRCA            8             20
21      Tramadol    BRCA            8             25
22      Tramadol    BRCA            8             30
23      Tramadol    BRCA            8             35
54      Tramadol     GBM            7             10
55      Tramadol     GBM            7             15
56      Tramadol     GBM            7             20
57      Tramadol     GBM            7             25
58      Tramadol     GBM            7             30
59      Tramadol     GBM            7             35

   Compound_name Disease  Pain_rating  Concentration
18      Tramadol    BRCA            8             10
19      Tramadol    BRCA            8             15
20      Tramadol    BRCA            8             20
21      Tramadol    BRCA            8             25
22      Tramadol    BRCA            8             30
23      Tramadol    BRCA            8             35

   Compound_name Disease  Pain_rating  Concentration
48      Fentanyl     GBM            1             10
49      Fentanyl     GBM            1             15
50      Fentanyl     GBM            1             20
51      Fentanyl     GBM            1             25
52      Fentanyl     GBM            1             30
53      Fentanyl     GBM            1             35
54      Tramadol     GBM            7             10
55      Tramadol     GBM            7             15
56      Tramadol     GBM            7             20
57      Tramadol     GBM            7             25
58      Tramadol     GBM            7             30
59      Tramadol     GBM            7             35

   Compound_name Disease  Pain_rating  Concentration
18      Tramadol    BRCA            8             10
19      Tramadol    BRCA            8             15
20      Tramadol    BRCA            8             20
21      Tramadol    BRCA            8             25
22      Tramadol    BRCA            8             30
23      Tramadol    BRCA            8             35
24     Oxycodone    BRCA            7             10
25     Oxycodone    BRCA            7             15
26     Oxycodone    BRCA            7             20
30    Meperidine    BRCA           10             10
..           ...     ...          ...            ...
56      Tramadol     GBM            7             20
57      Tramadol     GBM            7             25
58      Tramadol     GBM            7             30
59      Tramadol     GBM            7             35
60     Oxycodone     GBM            9             10
61     Oxycodone     GBM            9             15
62     Oxycodone     GBM            9             20
63     Oxycodone     GBM            8             25
64     Oxycodone     GBM            8             30
65     Oxycodone     GBM            7             35

[26 rows x 4 columns]

   Compound_name Disease  Pain_rating  Concentration
23      Tramadol    BRCA            8             35
59      Tramadol     GBM            7             35
65     Oxycodone     GBM            7             35

Use what you learned on selecting columns and rows to identify which compound, Tramadol or Fentanyl, results in lower pain ratings:

For this we want to know the pain ratings for Tramadol or Fentanyl:

In [25]:
print(df[df['Compound_name']=='Tramadol']['Pain_rating'])
print(df[df['Compound_name']=='Fentanyl']['Pain_rating'])

18    8
19    8
20    8
21    8
22    8
23    8
54    7
55    7
56    7
57    7
58    7
59    7
Name: Pain_rating, dtype: int64
12    3
13    2
14    2
15    2
16    1
17    1
48    1
49    1
50    1
51    1
52    1
53    1
Name: Pain_rating, dtype: int64

Since these are more than 50 values per compound, we use `unique` to find the unique values:

In [26]:
print(df[df['Compound_name']=='Tramadol']['Pain_rating'].unique())
print(df[df['Compound_name']=='Fentanyl']['Pain_rating'].unique())

[8 7]
[3 2 1]

Clearly, Fentanyl works much better than Tramadol

# Using data

You can use mathematical operation on columns of a DataFrame

In [27]:
2*df['Pain_rating']

0     10
1     10
2      8
3      8
4      8
5      6
6     10
7     10
8     10
9     10
      ..
62    18
63    16
64    16
65    14
66    12
67    12
68    10
69    10
70     8
71     8
Name: Pain_rating, Length: 72, dtype: int64

Create a copy of the DataFrame (`new = df.copy()`) and convert the compound concentration from $\mu$M to mM:

In [28]:
new = df.copy()
new['Concentration'] = 1e-3*new['Concentration']
new

   Compound_name Disease  Pain_rating  Concentration
0       Morphine    BRCA            5          0.010
1       Morphine    BRCA            5          0.015
2       Morphine    BRCA            4          0.020
3       Morphine    BRCA            4          0.025
4       Morphine    BRCA            4          0.030
5       Morphine    BRCA            3          0.035
6        Codeine    BRCA            5          0.010
7        Codeine    BRCA            5          0.015
8        Codeine    BRCA            5          0.020
9        Codeine    BRCA            5          0.025
..           ...     ...          ...            ...
62     Oxycodone     GBM            9          0.020
63     Oxycodone     GBM            8          0.025
64     Oxycodone     GBM            8          0.030
65     Oxycodone     GBM            7          0.035
66    Meperidine     GBM            6          0.010
67    Meperidine     GBM            6          0.015
68    Meperidine     GBM            5          0.020
69    Meperidine     GBM            5          0.025
70    Meperidine     GBM            4          0.030
71    Meperidine     GBM            4          0.035

[72 rows x 4 columns]

DataFrame columns can also be converted into numpy arrays that can be used for computations:

In [29]:
x = df['Pain_rating'].values
2*x

array([10, 10,  8,  8,  8,  6, 10, 10, 10, 10, 10, 10,  6,  4,  4,  4,  2,
        2, 16, 16, 16, 16, 16, 16, 14, 14, 14, 12, 12, 12, 20, 18, 16, 14,
       12, 10, 14, 12, 12, 10, 10,  8,  4,  4,  4,  2,  2,  2,  2,  2,  2,
        2,  2,  2, 14, 14, 14, 14, 14, 14, 18, 18, 18, 16, 16, 14, 12, 12,
       10, 10,  8,  8])

Compute the mean pain rating of BRCA patients

In [30]:
x = df[df['Disease']=='BRCA']['Pain_rating'].values
s = np.sum(x)
n = len(x)
print(s/n)

5.5

Because computing statistics like the mean are commonly used, this is build into Pandas:

In [31]:
df.mean()

Pain_rating       5.111111
Concentration    22.500000
dtype: float64

Note that Pandas only computes the mean over columns with numerical values. 

You can also get the mean for a specific column:

In [32]:
df['Pain_rating'].mean()

5.111111111111111

or

In [33]:
df.mean()['Pain_rating']

5.111111111111111

Note that there are similar functions, such as `df.std`, `df.var`, `df.min`, `df.sum`.

Use what you have learned so far to answer the following questions:

### Which disease, BRCA or GBM, results in the most pain?

In [34]:
print(df[df['Disease']=='BRCA']['Pain_rating'].mean())
print(df[df['Disease']=='GBM']['Pain_rating'].mean())

5.5
4.722222222222222

### Which disease, BRCA or GBM, results in the highest pain rating?

In [35]:
print(df[df['Disease']=='BRCA']['Pain_rating'].max())
print(df[df['Disease']=='GBM']['Pain_rating'].max())

10
9

### Which medication works best

In [36]:
for comp in df['Compound_name'].unique():
    print(comp,df[df['Compound_name']==comp]['Pain_rating'].mean())

Morphine 4.833333333333333
Codeine 3.25
Fentanyl 1.4166666666666667
Tramadol 7.5
Oxycodone 7.416666666666667
Meperidine 6.25

# Grouping

To find out which medicine works best you had to select to rows for each compound and then compute the mean, there is actually an easier way to do this:

In [37]:
df.groupby('Compound_name').mean()['Pain_rating']

Compound_name
Codeine       3.250000
Fentanyl      1.416667
Meperidine    6.250000
Morphine      4.833333
Oxycodone     7.416667
Tramadol      7.500000
Name: Pain_rating, dtype: float64

The function `groupby` can be applied on any Pandas DataFrame and only works in combination with an operator like `mean`. To help you understand how `groupby` works, we will go through its workings step by step. When you call `groupby` in a DataFrame `df` for column `Compound_name`, a bin is created for each unique value in the column and then the row numbers with matching column values are put into those bins.

In [38]:
df.groupby('Compound_name').groups

{'Codeine': Int64Index([6, 7, 8, 9, 10, 11, 42, 43, 44, 45, 46, 47], dtype='int64'),
 'Fentanyl': Int64Index([12, 13, 14, 15, 16, 17, 48, 49, 50, 51, 52, 53], dtype='int64'),
 'Meperidine': Int64Index([30, 31, 32, 33, 34, 35, 66, 67, 68, 69, 70, 71], dtype='int64'),
 'Morphine': Int64Index([0, 1, 2, 3, 4, 5, 36, 37, 38, 39, 40, 41], dtype='int64'),
 'Oxycodone': Int64Index([24, 25, 26, 27, 28, 29, 60, 61, 62, 63, 64, 65], dtype='int64'),
 'Tramadol': Int64Index([18, 19, 20, 21, 22, 23, 54, 55, 56, 57, 58, 59], dtype='int64')}

When instead of one column, a list of columns is used, there will be a bin for each unique combination of values from the used columns:

In [39]:
df.groupby(['Compound_name','Disease']).groups

{('Codeine', 'BRCA'): Int64Index([6, 7, 8, 9, 10, 11], dtype='int64'),
 ('Codeine', 'GBM'): Int64Index([42, 43, 44, 45, 46, 47], dtype='int64'),
 ('Fentanyl', 'BRCA'): Int64Index([12, 13, 14, 15, 16, 17], dtype='int64'),
 ('Fentanyl', 'GBM'): Int64Index([48, 49, 50, 51, 52, 53], dtype='int64'),
 ('Meperidine', 'BRCA'): Int64Index([30, 31, 32, 33, 34, 35], dtype='int64'),
 ('Meperidine', 'GBM'): Int64Index([66, 67, 68, 69, 70, 71], dtype='int64'),
 ('Morphine', 'BRCA'): Int64Index([0, 1, 2, 3, 4, 5], dtype='int64'),
 ('Morphine', 'GBM'): Int64Index([36, 37, 38, 39, 40, 41], dtype='int64'),
 ('Oxycodone', 'BRCA'): Int64Index([24, 25, 26, 27, 28, 29], dtype='int64'),
 ('Oxycodone', 'GBM'): Int64Index([60, 61, 62, 63, 64, 65], dtype='int64'),
 ('Tramadol', 'BRCA'): Int64Index([18, 19, 20, 21, 22, 23], dtype='int64'),
 ('Tramadol', 'GBM'): Int64Index([54, 55, 56, 57, 58, 59], dtype='int64')}

When you have the grouping you want, you can perform operations on all groups, for example:

In [40]:
df.groupby('Compound_name').mean()

               Pain_rating  Concentration
Compound_name
Codeine           3.250000           22.5
Fentanyl          1.416667           22.5
Meperidine        6.250000           22.5
Morphine          4.833333           22.5
Oxycodone         7.416667           22.5
Tramadol          7.500000           22.5

But we are not interested in the mean concentration, so we next only request the `Pain_rating` column:

In [41]:
df.groupby('Compound_name').mean()['Pain_rating']

Compound_name
Codeine       3.250000
Fentanyl      1.416667
Meperidine    6.250000
Morphine      4.833333
Oxycodone     7.416667
Tramadol      7.500000
Name: Pain_rating, dtype: float64

Use the `groupby` function to see if the performance of the drugs differs between diseases.

In [42]:
df.groupby(['Compound_name','Disease'],squeeze=True).mean()

                       Pain_rating  Concentration
Compound_name Disease
Codeine       BRCA        5.000000           22.5
              GBM         1.500000           22.5
Fentanyl      BRCA        1.833333           22.5
              GBM         1.000000           22.5
Meperidine    BRCA        7.500000           22.5
              GBM         5.000000           22.5
Morphine      BRCA        4.166667           22.5
              GBM         5.500000           22.5
Oxycodone     BRCA        6.500000           22.5
              GBM         8.333333           22.5
Tramadol      BRCA        8.000000           22.5
              GBM         7.000000           22.5